<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!--a class="navbar-brand" href="#">Home</a>-->

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cinema/movies/add-movies">Add Movies</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/cinema/theaters/add-theaters">Add Theaters and functions</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cinema/movies/movies-in-theaters">Movies in theaters</a>
      </li>
    </ul>
  </div>
</nav>